@import "tailwindcss";
@import "tailwindcss-safe-area";


/* For light mode */
:root[data-mantine-color-scheme="light"] {
  --mantine-color-body: var(--mantine-color-gray-9) !important;
}

/* For dark mode */
:root[data-mantine-color-scheme="dark"] {
  /* --mantine-color-body: var(--mantine-color-gray-9) !important; */
  --mantine-color-body: var(--mantine-color-dark-9) !important;
}