# This is only used for testing Dockerfile locally, not used by Digital Ocean
# To test Dockerfile: docker compose up --build

services:
  server:
    env_file: .env.dev-local
    build: .
    
    # Run an init process inside the container. 
    # This process forwards signals and reaps zombie processes, which helps ensure clean container shutdown.
    init: true 

    ports:
      - "8121:8021"
    
    # Optional: Automatically restarts if your app crashes
    # restart: always
