# This is only used for testing Dockerfile locally
# Only Dockerfile is used by Digital Ocean

# To test: docker compose up --build

# Before testing, in .env.dev-local, set PORT to 8080
# This is the same behaviour as Digital Ocean


services:
  server:
    env_file: .env.dev-local
    build: .
    
    # Run an init process inside the container. 
    # This process forwards signals and reaps zombie processes, which helps ensure clean container shutdown.
    init: true 

    ports:
      - "8080:8080"
    
    # Optional: Automatically restarts if your app crashes
    # restart: always
